<header>
  <h1 class="card-panel lime darken-1">Cadastro de Fotos</h1>
</header>

<main class="container">
  <div class="row ">
    <div>{{foto.titulo}}</div>
    <div>{{foto.url}}</div>
    <div>{{foto.descricao}}</div>

    <div class="col m7">
      <form class="col m7" (ngSubmit)="salvar()">
        <div class="input-field col s12">
          <input [(ngModel)]='foto.titulo' name ='titulo' id= 'titulo' type="text" class="validate">
          <label for="titulo" class="active">Titulo</label>
        </div>

        <div class="input-field col s12">
        <input id="url" [(ngModel)]='foto.url' type="text" class="validate" name ='url'>
          <label for="url" class="active">Url</label>
        </div>

        <div class="input-field col s12">
          <textarea id="descricao" class="validate" class="materialize-textarea" [(ngModel)]='foto.descricao'></textarea>
          <label for="descricao" class="active">Descriçao</label>
        </div>
        <div class="col m12">
          <button  class="btn">Salvar</button>
          <a routerLink="" class="btn grey darken-1">Voltar</a>
        </div>

      </form>
    </div>



  </div>

</main>