<header>
  <h1 class="card-panel lime darken-1" >Caelum Pic</h1>
</header>

<main class="container">

<div class="container">
    <div class="row">
        <div class="col m6"> 
        <!--  <img src='./assets/img/img1.jpg' class="responsive-img" alt=""/>-->
       <!-- <foto url="./assets/img/img1.jpg" titulo="anything"></foto>-->
       <!-- <foto url="./assets/img/rick.jpg" titulo="rick "></foto> <!-- Internet died, use another foto-->
      
      <!-- {{listaFotos}}-->
      <card *ngFor="let foto of listaFotos" titulo = "{{foto.titulo}}">
       <foto  url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
      </card>
      </div>
    </div>
</div>
</main>


